<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>

    <body>

        <div ng-app="pm" ng-controller="homeCtrl">
            username<input ng-model="user.username"/>
            <br/>
            password<input type="password" ng-model="user.password"/>
            <button ng-click="save()">save</button>
            <button ng-click="login()">login</button>
            <br/>
            {{successMsg}}
        </div>

        <script src="app/app.js"></script>
    </body>
</html>